@model Course
<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="@Url.Content("../LayoutUser/CourseImg/" + Model.CourseImage)" style="background-image: url('https://media.zim.vn/62d13e991b5d34001f08d06e/toeic-la-gi.jpg');">
            <ul class="product__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6><a asp-controller="Home" asp-action="ChiTietKhoaHoc" asp-route-courseId="@Model.CourseId">@Model.CourseName</a></h6>
            @{
                string formattedPrice = Model.Price?.ToString("#,##0");
                if (formattedPrice != null)
                {
                    formattedPrice = formattedPrice.Replace(",", ".");
                }
            }
            <h5>@formattedPrice</h5>
        </div>
    </div>
</div>
