
@{
    ViewData["Title"] = "QuanLyAdmin4";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="admin-info">
            <img class="admin-image" src="../LayoutAdmin/dist/img/371480119_3117863565187513_3226745433285189454_n.jpg" alt="Admin Image">
            <div style="display: inline-block; vertical-align: top; margin-left: 50px; text-align: left;">
                <h2>Huỳnh Thị Thùy Nhi</h2>
                <P>Mã AD: AD04</P>
                <p>Ngày sinh: 12/02/2003</p>
                <p>Chức vụ: Admin</p>
                <p>Bắt đầu làm: 27/03/2024</p>
            </div>
        </div>
        <h3 style="text-align: center; color: #015D68;">Danh sách các admin khác</h3>
        <div class="admin-table">
            <table>
                <thead>
                    <tr style="color: #015D68;">
                        <th>Mã Admin</th>
                        <th>Tên</th>
                        <th>Ngày sinh</th>
                        <th>Chức vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AD01</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin1" class="d-block text-dark" style="font-size: 16px;">Trần Nữ Hoài Như</a>
                            </div>
                        </td>
                        <td>21/08/2003</td>
                        <td>Trưởng Admin</td>
                    </tr>
                    <tr>
                        <td>AD02</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin2" class="d-block text-dark" style="font-size: 16px;">Trần Huyền Trâm</a>
                            </div>
                        </td>
                        <td>07/10/2003</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>AD03</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin3" class="d-block text-dark" style="font-size: 16px;">Nguyễn Đức Tín</a>
                            </div>
                        </td>
                        <td>09/12/2003</td>
                        <td>Admin</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<!-- /.content-wrapper -->
