
@{
    ViewData["Title"] = "QuanLyAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <h1 style="text-align: center; margin-top: 50px; color:#015D68;">Danh sách các admin</h1>
        <div class="admin-table">
            <table>
                <thead>
                    <tr style="color: #015D68;">
                        <th>Mã Admin</th>
                        <th>Tên</th>
                        <th>Ngày sinh</th>
                        <th>Chức vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AD01</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin1" class="d-block text-dark" style="font-size: 16px;">Trần Nữ Hoài Như</a>
                            </div>
                        </td>
                        <td>21/08/2003</td>
                        <td>Trưởng Admin</td>
                    </tr>
                    <tr>
                        <td>AD02</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin2" class="d-block text-dark" style="font-size: 16px;">Trần Huyền Trâm</a>
                            </div>
                        </td>
                        <td>07/10/2003</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>AD03</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin3" class="d-block text-dark" style="font-size: 16px;">Nguyễn Đức Tín</a>
                            </div>
                        </td>
                        <td>09/12/2003</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>AD04</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin4" class="d-block text-dark" style="font-size: 16px;">Huỳnh Thị Thùy Nhi</a>
                            </div>
                        </td>
                        <td>12/02/2003</td>
                        <td>Admin</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->

