
@{
    ViewData["Title"] = "QuanLyAdmin1";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="admin-info">
            <img class="admin-image" src="../LayoutAdmin/../LayoutAdmin/dist/img/Screenshot 2024-03-28 163302.jpg" alt="Admin Image">            <div style="display: inline-block; vertical-align: top; margin-left: 50px; text-align: left;">
                <h2>Trần Nữ Hoài Như</h2>
                <P>Mã AD: AD01</P>
                <p>Ngày sinh: 21/08/2003</p>
                <p>Chức vụ: Trưởng Admin</p>
                <p>Bắt đầu làm: 24/03/2024</p>
            </div>
        </div>
        <h3 style="text-align: center; color: #015D68;">Danh sách các admin khác</h3>
        <div class="admin-table">
            <table>
                <thead>
                    <tr style="color: #015D68;">
                        <th>Mã Admin</th>
                        <th>Tên</th>
                        <th>Ngày sinh</th>
                        <th>Chức vụ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AD02</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin2" class="d-block text-dark" style="font-size: 16px;">Trần Huyền Trâm</a>
                            </div>
                        </td>
                        <td>07/10/2003</td>
                        <td>Admin</td>
                        <td>
                            <div class="xoa-sua-AD">
                                <button class="suaAD" type="button">
                                    <i class='bx bx-edit-alt'></i>
                                </button>
                                <button class="xoaAD" type="button">
                                    <i class='bx bx-trash'></i>
                                </button>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>AD03</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin3" class="d-block text-dark" style="font-size: 16px;">Nguyễn Đức Tín</a>
                            </div>
                        </td>
                        <td>09/12/2003</td>
                        <td>Admin</td>
                        <td>
                            <div class="xoa-sua-AD">
                                <button class="suaAD" type="button">
                                    <i class='bx bx-edit-alt'></i>
                                </button>
                                <button class="xoaAD" type="button">
                                    <i class='bx bx-trash'></i>
                                </button>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>AD04</td>
                        <td>
                            <div class="infor">
                                <a href="../admin/quanlyadmin4" class="d-block text-dark" style="font-size: 16px;">Huỳnh Thị Thùy Nhi</a>
                            </div>
                        </td>
                        <td>12/02/2003</td>
                        <td>Admin</td>
                        <td>
                            <div class="xoa-sua-AD">
                                <button class="suaAD" type="button">
                                    <i class='bx bx-edit-alt'></i>
                                </button>
                                <button class="xoaAD" type="button">
                                    <i class='bx bx-trash'></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="add-AD" style="margin-top: 20px; margin-right: 15px;text-align: right;">
                <button class="themAD" type="button">
                    <i class='bx bx-add-to-queue'></i>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /.content-wrapper -->

