
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_LayoutUEH.cshtml";
}
<section class="breadcrumb-section set-bg" data-setbg="https://img.pikbest.com/backgrounds/20190715/summer-training-course-enrollment-hd-background_1898741.jpg!bw700" style="background-image: url(&quot;https://img.pikbest.com/backgrounds/20190715/summer-training-course-enrollment-hd-background_1898741.jpg!bw700&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">BLOG</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Trang chủ</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">


                    
                    <div class="blog__sidebar__item">
                        <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Tin Mới Nhất</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="https://viettuans.vn/uploads/2023/05/74-1569313718458529767654.png" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6 style="font-family:Arial, Helvetica, sans-serif;">IOT trong đời sống<br>con người hiện nay</h6>
                                    <span>14/02/2023</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="https://som.edu.vn/wp-content/uploads/2022/11/tri-tue-nhan-tao-la-gi.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6 style="font-family:Arial, Helvetica, sans-serif;">Sự bùng nổ của trí tuệ nhân tạo<br> Loài người sẽ đi về đâu?</h6>
                                    <span>14/02/2022</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="https://duhoctrawise.edu.vn/wp-content/uploads/2023/07/1-7.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6 style="font-family: Arial, Helvetica, sans-serif;">Nghệ thuật tiếp thị <br>đỉnh cao cho dân Marketing</h6>
                                    <span>04/08/2022</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Tìm Kiếm Từ Khóa</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">AI</a>
                            <a href="#">CNTT</a>
                            <a href="#">IOT</a>
                            <a href="#">Tiếp Thị</a>
                            <a href="#">Ngoại Ngữ</a>
                            <a href="#">Chứng Khoán</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="https://bizweb.dktcdn.net/100/407/003/articles/egd1h2jwx59ni135snn1fvwvgfz6gmit0qmd4whv.jpg?v=1701158652327" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">AI hiện nay đang phát triển như thế nào?</a></h5>
                                <p>Máy móc xử lý và giao tiếp theo một cách khác với bộ não con người. Tạo ngôn ngữ tự nhiên là một công nghệ phổ biến giúp chuyển đổi dữ liệu có cấu trúc thành ngôn ngữ bản địa. Máy móc được lập trình với các thuật toán để chuyển đổi dữ liệu sang định dạng mong muốn của người dùng.</p>
                                <a href="#" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="https://som.edu.vn/wp-content/uploads/2022/11/tri-tue-nhan-tao-la-gi.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Chat GPT mạnh như thế nào?</a></h5>
                                <p>Trợ lý ảo (virtual agent) đã trở thành công cụ rất hữu ích đối với các nhà thiết kế hướng dẫn. Trợ lý ảo là một ứng dụng máy tính tương tác với con người. Các ứng dụng web và di động cung cấp tính năng chatbot hoạt động như các trợ lý dịch vụ khách hàng để tương tác với con người và trả lời các truy vấn của họ</p>
                                <a href="#" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="https://nld.mediacdn.vn/291774122806476800/2022/3/7/img-1082-1646656656175869719750.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Kết quả thế nào cho những nhà đầu tư chứng khoán mạo hiểm?</a></h5>
                                <p>Ủy ban Chứng khoán Nhà nước (UBCKNN) thông báo lấy ý kiến của các đơn vị, tổ chức, cá nhân đối với dự thảo Thông tư sửa đổi, bổ sung một số điều của các Thông tư quy định về giao dịch chứng khoán; bù trừ và thanh toán giao dịch chứng khoán; hoạt động của công ty chứng khoán và công bố thông tin trên thị trường chứng khoán.</p>
                                <a href="#" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="https://nhansudoanhnghiep.com/wp-content/uploads/2021/02/chuc-nang-cua-quan-tri-nhan-su.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Tương lai nào cho ngành Nhân Sự</a></h5>
                                <p>Quản trị nguồn nhân lực là quản lý tài sản lớn nhất của doanh nghiệp, đó chính là quản lý con người. Do đó, vai trò của quản trị nguồn nhân lực là tạo ra sự điều chỉnh và hòa hợp của con người trong tập thể. Bài viết sau đây, giới thiệu tới bạn khái niệm và vai trò của quản trị nguồn nhân lực cũng như các nhóm chức năng của quản trị nguồn nhân lực.</p>
                                <a href="#" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
