
@{
    ViewData["Title"] = "GioKhoaHoc";
    Layout = "~/Views/Shared/_LayoutUEH.cshtml";
}
<section class="breadcrumb-section set-bg" data-setbg="https://img.pikbest.com/backgrounds/20190715/summer-training-course-enrollment-hd-background_1898741.jpg!bw700" style="background-image: url(&quot;https://img.pikbest.com/backgrounds/20190715/summer-training-course-enrollment-hd-background_1898741.jpg!bw700&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Giỏ"khóa học"</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Trang chủ</a>
                        <span>Giỏ"khóa học"</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Khóa học</th>
                                <th style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Giá</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="https://blogger.googleusercontent.com/../LayoutUser/img/b/R29vZ2xl/AVvXsEiX5OEHUyDdsw_X2o9m9nP4wuggz270bKn7q_NxdbMGPp402xhsu62ruCth9bMBnTBfJVwwToL9u2q8Xl4IBS3s6LHIr_hrGbc3ZFObXYG6KkxyF-RCmxgCATzdcR0iYc_3rwMwWc12MrWD5Txu4vtbsz3BZnNlgQcW_5y-nbCA8N_8wn92l38pbKw5/s750/Javascript%20cho%20ng%C6%B0%E1%BB%9Di%20m%E1%BB%9Bi%20b%E1%BA%AFt%20%C4%91%E1%BA%A7u%202021.jpg" alt="">
                                    <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Javascript cho người mới bắt đầu</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    1.299.000 VND
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="https://i.ytimg.com/vi/wem6468USVQ/maxresdefault.jpg" alt="">
                                    <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">AWS Cloud for beginner(Vietnamese)</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    1.699.000 VND
                                </td>

                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="https://dotnetguru.org/wp-content/uploads/2022/02/reactjs.png" alt="">
                                    <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">React Ultimate - React.JS Cơ Bản Từ Z Đến A </h5>
                                </td>
                                <td class="shoping__cart__price">
                                    599.000 VND
                                </td>

                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Tiếp tục xem các khóa học khác</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mã Giảm Giá</h5>
                        <form action="#">
                            <input type="text" placeholder="Nhập mã giảm giá">
                            <button type="submit" class="site-btn" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">NHẬP</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Tổng Thanh Toán</h5>
                    <ul>
                        <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Giá<span>3.597.000 VND</span></li>
                        <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Tổng cộng <span>3.597.000 VND</span></li>
                    </ul>
                    <a href="#" class="primary-btn" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">THANH TOÁN</a>
                </div>
            </div>
        </div>
    </div>
</section>
