@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUEH.cshtml";
}

<!-- Hero Section Begin -->
<section class="hero" style="background-image: url('../LayoutUser/../LayoutUser/img/imagesHome/hero-bg.svg')">
    <div class="container">


        <div class="hero__item set-bg" data-setbg="../LayoutUser/../LayoutUser/img/hero-banner.jpg">
            <div class="hero__text">

                <h2>Chương trình <br> <span>tốt nhất</span> trong <br /><span>tầm tay</span> của bạn</h2>
                <p>Khám phá cơ hội học tập không giới hạn <br> với những khóa học đa dạng và chất lượng.</p>

                <a href="shop-grid.html" class="primary-btn">
                    <span class="span">Tìm hiểu ngay</span>

                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>
                <img src="../LayoutUser/../LayoutUser/img/imagesHome/hero-shape-2.png" width="622" height="551" alt=""
                     class="shape hero-shape-2">
            </div>

        </div>

    </div>
    </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Course Begin -->
<section class="section course" id="courses" aria-label="course">
    <div class="container">

        <div class="section-title">
            <h2>Khóa học phổ biến</h2>
        </div>

        <ul class="grid-list">

            <li>
                <div class="course-card">

                    <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                        <img src="../LayoutUser/../LayoutUser/img/imagesHome/course-1.jpg" width="370" height="220" loading="lazy"
                             alt="Build Responsive Real- World Websites with HTML and CSS" class="img-cover">
                    </figure>

                    <div class="abs-badge">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">3 Tháng</span>
                    </div>

                    <div class="card-content">

                        <span class="badge">Cơ bản</span>

                        <h3 class="h3">
                            <a href="shop-details.html" class="card-title">
                                Introduction to Finance, Accounting, Modeling and
                                Valuation
                            </a>
                        </h3>

                        <div class="wrapper">

                            <div class="rating-wrapper">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>

                            <p class="rating-text">(5.0/7 Rating)</p>

                        </div>

                        <data class="price" value="439.8">
                            439.800đ <span class="discount">(2.199.000đ)</span>
                        </data>

                        <ul class="card-meta-list">

                            <li class="card-meta-item">
                                <i class="fa fa-calendar-o"></i>
                                <span class="span"> 8 Bài học</span>
                            </li>

                            <li class="card-meta-item">
                                <i class="fa fa-user-o"></i>

                                <span class="span">20 Học sinh</span>
                            </li>

                        </ul>

                    </div>

                </div>
            </li>

            <li>
                <div class="course-card">

                    <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                        <img src="../LayoutUser/../LayoutUser/img/imagesHome/course-2.jpg" width="370" height="220" loading="lazy"
                             alt="Java Programming Masterclass for Software Developers" class="img-cover">
                    </figure>

                    <div class="abs-badge">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">3 Tháng</span>
                    </div>

                    <div class="card-content">

                        <span class="badge">Cơ bản</span>

                        <h3 class="h3">
                            <a href="shop-details.html" class="card-title">Javascript cho người mới bắt đầu</a>
                        </h3>

                        <div class="wrapper">

                            <div class="rating-wrapper">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>

                            <p class="rating-text">(4.5 /9 Rating)</p>

                        </div>

                        <data class="price" value="1299">649.500đ<span class="discount">(1.299.000đ)</span></data>

                        <ul class="card-meta-list">

                            <li class="card-meta-item">
                                <i class="fa fa-calendar-o"></i>
                                <span class="span"> 15 Bài học</span>
                            </li>

                            <li class="card-meta-item">
                                <i class="fa fa-user-o"></i>

                                <span class="span">35 Học sinh</span>
                            </li>

                        </ul>

                    </div>

                </div>
            </li>

            <li>
                <div class="course-card">

                    <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                        <img src="../LayoutUser/../LayoutUser/img/imagesHome/course-3.jpg" width="370" height="220" loading="lazy"
                             alt="The Complete Camtasia Course for Content Creators" class="img-cover">
                    </figure>

                    <div class="abs-badge">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">3 Tháng</span>
                    </div>

                    <div class="card-content">

                        <span class="badge">Trung cấp</span>

                        <h3 class="h3">
                            <a href="shop-details.html" class="card-title">
                                Trở thành Project Manager (quản lý dự án) công ty phần
                                mềm
                            </a>
                        </h3>

                        <div class="wrapper">

                            <div class="rating-wrapper">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>

                            <p class="rating-text">(4.9 /7 Rating)</p>

                        </div>

                        <data class="price" value="1399">153.890đ<span class="discount">(1.399.000đ)</span></data>

                        <ul class="card-meta-list">

                            <li class="card-meta-item">
                                <i class="fa fa-calendar-o"></i>
                                <span class="span"> 13 Bài học</span>
                            </li>

                            <li class="card-meta-item">
                                <i class="fa fa-user-o"></i>

                                <span class="span">18 Học sinh</span>
                            </li>

                        </ul>

                    </div>

                </div>
            </li>

        </ul>
        <div class="btn-course">
            <a href="shop-grid.html" class="primary-btn">
                <span class="span">Toàn bộ khóa học</span>
            </a>
        </div>
    </div>
</section>
<!-- Course end -->
<!-- Featured Section Begin -->
<section class="featured spad" style="background-image: url('../LayoutUser/../LayoutUser/img/imagesHome/about-shape-3.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Các lĩnh vực</h2>
                </div>

            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../LayoutUser/../LayoutUser/img/categories/cat-1.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="shop-grid.html">Kế toán</a></h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../LayoutUser/../LayoutUser/img/categories/cat-2.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="shop-grid.html">Công nghệ thông tin & Phần mềm</a></h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../LayoutUser/../LayoutUser/img/categories/cat-3.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="shop-grid.html">Tài chính và Kế toán</a></h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../LayoutUser/../LayoutUser/img/categories/cat-4.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="shop-grid.html">Tài chính ngân hàng</a></h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../LayoutUser/../LayoutUser/img/categories/cat-5.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="shop-grid.html">Nhân sự</a></h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../LayoutUser/../LayoutUser/img/categories/cat-6.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="shop-grid.html">Kinh doanh</a></h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../LayoutUser/../LayoutUser/img/categories/cat-7.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="shop-grid.html">Marketing</a></h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../LayoutUser/../LayoutUser/img/categories/cat-8.jpg">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="shop-grid.html">Ngôn ngữ</a></h6>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- Featured Section End -->
<!-- About Begin -->

<section class="section about" id="about" aria-label="about">
    <div class="container">

        <figure class="about-banner">

            <div class="img-holder" style="--width: 520; --height: 370;">
                <img src="../LayoutUser/../LayoutUser/img/imagesHome/about-banner.jpg" width="520" height="370" loading="lazy"
                     alt="about banner" class="img-cover">
            </div>


            <a href="login.html">
                <img src="../LayoutUser/../LayoutUser/img/imagesHome/about-shape.png" width="371" height="220" loading="lazy" alt=""
                     class="shape about-shape-2">
            </a>


        </figure>

        <div class="about-content">

            <p class="section-subtitle">Về chúng tôi</p>

            <h2 class="section-title">
                Cung cấp các khóa học <span>chất lượng</span> và <span>đa dạng</span> lĩnh vực
            </h2>

            <p class="section-text">
                Tham gia ngay các khóa học của chúng tôi và kiến tạo tương lai rực rỡ!
            </p>

            <ul class="about-list">

                <li class="about-item">
                    <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                    <span class="span">Khóa học hàng đầu</span>
                </li>

                <li class="about-item">
                    <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                    <span class="span">Đa dạng lĩnh vực</span>
                </li>

                <li class="about-item">
                    <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                    <span class="span">Linh hoạt thời gian</span>
                </li>

            </ul>






        </div>
        <img src="../LayoutUser/../LayoutUser/img/imagesHome/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
             class="shape about-shape-4">

    </div>
</section>
<!-- Abount End -->
<!-- Categories Section Begin -->
<section class="categories" style="background-image: url('../LayoutUser/../LayoutUser/img/imagesHome/blog-bg.svg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sự kiện</h2>
                </div>

            </div>
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutUser/../LayoutUser/img/events/event-6.png">
                        <h5><a href="#">Chi tiết</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutUser/../LayoutUser/img/events/event-2.jpg">
                        <h5><a href="#">Chi tiết</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutUser/../LayoutUser/img/events/event-1.jpg">
                        <h5><a href="#">Chi tiết</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutUser/../LayoutUser/img/events/event-5.png">
                        <h5><a href="#">Chi tiết</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutUser/../LayoutUser/img/events/event-3.jpg">
                        <h5><a href="#">Chi tiết</a></h5>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Categories Section End -->
<!-- Blog Section Begin -->
<section class="section blog has-bg-image" id="blog" aria-label="blog">
    <div class="container">

        <div class="section-title">
            <h2>Bài viết mới nhất</h2>
        </div>

        <ul class="grid-list">

            <li>
                <div class="blog-card">

                    <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                        <img src="../LayoutUser/../LayoutUser/img/imagesHome/blog-1.jpg" width="370" height="370" loading="lazy"
                             alt="Become A Better Blogger: Content Planning" class="img-cover">
                    </figure>

                    <div class="card-content">

                        <a href="blog-details.html" class="card-btn" aria-label="read more">
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>

                        <p>Online</p>

                        <h3 class="h3">
                            <a href="blog-details.html" class="card-title">15 Days Practice for IELTS Reading</a>
                        </h3>

                        <ul class="card-meta-list">

                            <li class="card-meta-item">
                                <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                <span class="span">Oct 10, 2021</span>
                            </li>

                            <li class="card-meta-item">
                                <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                <span class="span">Com 09</span>
                            </li>

                        </ul>

                        <p class="card-text">
                            ...
                        </p>

                    </div>

                </div>
            </li>

            <li>
                <div class="blog-card">

                    <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                        <img src="../LayoutUser/../LayoutUser/img/imagesHome/blog-2.jpg" width="370" height="370" loading="lazy"
                             alt="Become A Better Blogger: Content Planning" class="img-cover">
                    </figure>

                    <div class="card-content">

                        <a href="blog-details.html" class="card-btn" aria-label="read more">
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>

                        <p>Online</p>

                        <h3 class="h3">
                            <a href="blog-details.html" class="card-title">Nghệ thuật tiếp thị đỉnh cao cho dân Marketing</a>
                        </h3>

                        <ul class="card-meta-list">

                            <li class="card-meta-item">
                                <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                <span class="span">Oct 10, 2021</span>
                            </li>

                            <li class="card-meta-item">
                                <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                <span class="span">Com 09</span>
                            </li>

                        </ul>

                        <p class="card-text">
                            ...
                        </p>

                    </div>

                </div>
            </li>

            <li>
                <div class="blog-card">

                    <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                        <img src="../LayoutUser/../LayoutUser/img/imagesHome/blog-3.jpg" width="370" height="370" loading="lazy"
                             alt="Become A Better Blogger: Content Planning" class="img-cover">
                    </figure>

                    <div class="card-content">

                        <a href="blog-details.html" class="card-btn" aria-label="read more">
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>

                        <p>Online</p>

                        <h3 class="h3">
                            <a href="blog-details.html" class="card-title">
                                Trở thành một Blogger tốt hơn: Lập kế hoạch nội
                                dung
                            </a>
                        </h3>

                        <ul class="card-meta-list">

                            <li class="card-meta-item">
                                <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                <span class="span">Oct 10, 2021</span>
                            </li>

                            <li class="card-meta-item">
                                <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                <span class="span">Com 09</span>
                            </li>

                        </ul>

                        <p class="card-text">
                            ...
                        </p>

                    </div>

                </div>
            </li>

        </ul>

        <img src="../LayoutUser/../LayoutUser/img/imagesHome/blog-shape.png" width="186" height="186" loading="lazy" alt=""
             class="shape blog-shape">

    </div>
</section>
<!-- Blog Section End -->
