
@{
    ViewData["Title"] = "LienHe";
    Layout = "~/Views/Shared/_LayoutUEH.cshtml";
}

<section class="breadcrumb-section set-bg" data-setbg="https://img.pikbest.com/backgrounds/20190715/summer-training-course-enrollment-hd-background_1898741.jpg!bw700" style="background-image: url(&quot;https://img.pikbest.com/backgrounds/20190715/summer-training-course-enrollment-hd-background_1898741.jpg!bw700&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Liên Hệ Với Chúng Tôi</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Trang chủ</a>
                        <span>Liên hệ </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Số điện thoại</h4>
                    <p>+84 357760461</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Địa chỉ</h4>
                    <p>279 Nguyễn Tri Phương, phường 5, quận 10, TP.HCM</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hoạt động</h4>
                    <p>27/4</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Email</h4>
                    <p>uehcourse@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Để lại lời nhắn</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Tên của bạn">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Lời nhắn"></textarea>
                    <button type="submit" class="site-btn" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Gởi Lời Nhắn</button>
                </div>
            </div>
        </form>
    </div>
</div>

